<aside class="sidebar" id="sidebar">
    <button class="hamburger" id="hamburger">
        ☰
    </button>

    <nav class="sidebar-nav">
        <a href="index.html" class="nav-link">
            Calendar
        </a>

        <a href="task-inputter.html" class="nav-link">
            Task Inputter
        </a>

        <a href="webpages/music-selector.html" class="nav-link">
            Music Selector
        </a>

        <a href="webpages/pet.html" class="nav-link">
            Greet Your Pet
        </a>
    </nav>
</aside>
